{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "root": "./",
          "components": "./components",
          "pages": "./pages",
          "assets": "./public/assets",
          "content": "./public/content",
          "styles": "./styles",
          "layouts": "./layouts",
          "helpers": "./helpers",
          "public": "./public",
          "library": "./library",
          "providers": "./providers"
        }
      }
    ]
  ]
}
